<div class='col-sm-6 col-lg-4'>
  <div class="card mt-4 shadow bg-white rounded">
    <%= link_to project do %>
              <!-- Preview image-->
      <%if project.img.attached?%>
        <%= image_tag url_for(project.img), :class => "img-fluid rounded p-1" %>
      <% end %>
    <%end%>

    <div class="card-block">
      <h4 class="card-title"><%= link_to project.title, project %></h4>
      <%= link_to project do %>
        <p class="card-text"><%= truncate(project.description, length: 130) %></p>
      <% end %>
      
    </div>
  </div>
</div>