<% provide(:page_title,@project.title) %>
<div class="container">
            <div class="row">
                <!-- Post content-->
                <div class="col-lg-8">
                    <!-- Title-->
                    <h1 class="mt-4"><%= @project.title %></h1>
                    <hr>
                    <!-- Preview image-->
                    <img class="img-fluid rounded" src="https://via.placeholder.com/900x300" alt="...">
                    <hr>
                    <!-- Post content-->
                    <p><%= @project.description %> </p>
                    <hr>

                <!-- Sidebar widgets column-->
                <div class="col-md-4">
                    <!-- Categories widget-->
                    <div class="card my-4">
                        <h5 class="card-header">Technologies Used</h5>
                        <div class="card-body">
                            <div class="row">
                                <div class="">
                                    <ul class="list-unstyled mb-0">
                                      <% @project.short_desc.split(" ").each do |tech| %>
                                        <li><%=tech%></li>
                                      <% end %>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
</div>
    
    
            <% if current_user %>
                <%= link_to 'Edit Project', edit_project_url, class: "btn btn-dark"%>
                <%= link_to 'New Project', @project ,:method => :delete, class: "btn btn-dark"%>
            <%end%>
